<!DOCTYPE html>
<html>
<head>
    <title>Hound</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#007bff">
    <link rel="stylesheet" href="/assets/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/styles/app.css">
    <script src="/assets/scripts/jquery.min.js"></script>
    <script src="/assets/scripts/bootstrap.min.js"></script>
    <script src="/assets/scripts/app.js"></script>
</head>

<body>
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a href="#" class="navbar-brand">Hound</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav mr-auto">
                <a class="nav-item nav-link" href="/">Home</a>
                <a class="nav-item nav-link" href="/radio">Radio</a>
            </ul>
            <form class="form-inline my-2 my-lg-0" method="post">
                <button class="btn btn-outline-warning my-2 my-sm-0" type="submit" name="reboot" value="1">Reboot</button>
            </form>
        </div>
    </div>
</nav>
<main class="main">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <header>
                    <h1>Radio</h1>
                </header>
            </div>
        </div>
        <form class="stations-search d-flex">
            <input name="search" class="form-control mr-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-sm-0" type="submit">Search</button>
        </form>
        <div class="row stations">
        </div>
    </div>
</main>
<footer>
    <nav class="navbar fixed-bottom navbar-light bg-light volume-slider">
        <div class="now-playing">
            <div class="container text-truncate">
                <a class="muted">🔈 Now Playing:</a>
                <span></span>
            </div>
        </div>
        <div class="container">
            <div class="d-flex">
                <div class="mr-auto d-flex controls">
                    <a href="#" class="stop">Stop</a>
                    <a href="#" class="mute">Mute</a>
                </div>
                <div class="slider-holder">
                    <input type="range" min="1" max="100" value="20" class="slider" id="volume">
                </div>
            </div>
        </div>
    </nav>
</footer>
</body>
</html>
