html {
    background: var(--primary);
    height: 100%;
}

body {
    min-height: 100%;
}

.main {
    padding-top: 71px;
    padding-bottom: 56px;
}

body.playing .main {
    padding-bottom: 91px;
}

.status-bar {
    background-color: var(--primary);
    position: fixed;
    top: 0;
    left: 0;
    height: 20px;
    width: 100%;
    z-index: 100;
    transform: translateY(-20px);
}

.main header h1 {
    margin-top: 15px;
    margin-bottom: 15px;
}

body.playing .volume-slider .now-playing, body.playing .volume-slider .stop {
    display: block;
}

.volume-slider .now-playing {
    position: absolute;
    bottom: 100%;
    width: 100%;
    left: 0;
    font-size: 13px;
    background: #f2f2f2;
    padding: 0 1rem;
    display: none;
    text-transform: capitalize;
}

.volume-slider .now-playing span {
    opacity: 0.5;
}

.volume-slider .container {
    padding: 8px 0;
}

.volume-slider .d-flex {
    width: 100%;
}

.volume-slider .d-flex .controls {
    width: auto;
}

.volume-slider .stop {
    padding-right: 15px;
    display: none;
}

.volume-slider .mute {
    padding-right: 15px;
}

.stations-search {
    margin-top: 15px;
    margin-bottom: 30px;
}

.stations .card {
    padding-left: 120px;
    margin-bottom: 30px;
    min-height: 120px;
}

.stations .card .image {
    height: 0;
    width: 120px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    border-right: 1px solid rgba(0, 0, 0, .125);
}

.slider {
    -webkit-appearance: none; /* Override default CSS styles */
    appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    -webkit-transition: opacity .15s ease-in-out;
    transition: opacity .15s ease-in-out;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 20px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    background: var(--primary); /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 50%;
    border: none;
    outline: none;
}

.slider::-moz-range-thumb {
    width: 20px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    background: var(--primary); /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 50%;
    border: none;
    outline: none;
}

.slider-holder {
    width: 100%;
}

@media (min-width: 576px) {
    .container {
        padding-left: 0;
        padding-right: 0;
    }
}